.cache
.clang-format
.clangd
BTE.mk
BTE.project
BTE.txt
BTE-nightly.project
compile_commands.json
nch_*
/bin/src
/bin/backtoearth/dump
/bin/backtoearth/saved/logs
/bin/backtoearth/saved/screenshots
/bin/backtoearth/saved/settings
/build
*.bte_lsr
